body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    position: absolute;
    top: -10px;
    left: -10px;
    /* font-size: 32px; */
    /* display:inline-block; */
    color:crimson;
    background-color: aliceblue;
    border: 8px solid royalblue;
    border-radius: 80px;
    padding: 10px;
    margin-bottom: 1rem;
    text-align: center;
}
h2 {
    color:blue;
}

h3 {
    color:royalblue;
}

nav {
    position: relative;
    display:inline-block;
}

.personal {
    display: flex;
    flex-flow: row wrap;
   /* justify-content: flex-start; */
   justify-content: space-around;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 25px;
}

#pdata {
    font-weight: bolder;
}

.contacts h2{
    padding-left: 40px;
}

.blog h2{
    padding-left: 40px;
}
.containerh {
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.boxh ul {
    padding-left: 0px;
}

#tskills {
    flex-shrink: 3;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
}

#sskills {
    flex-shrink: 2;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
}

#hobbies {
    flex-shrink: 1;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 2rem;
}

/* Codice Blog */
.forecast {
    margin: 0;
    padding: .3rem;
    font-size: 1rem;
    /*background-color: #eee; */
    /* font: 1rem 'Fira Sans', sans-serif; */
}

.forecast > h2,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}